
/public/
/resources/
/hugo_stats.json

/dist/
/tmp/
/.cache/


.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp
*.swo


node_modules/
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml


.sass-cache/


*.log


*~
*.bak
*.tmp

themes/*/exampleSite/
themes/*/.git/


/_go/
go.sum



